* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ededed;
}
.gallery__thumbs{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.view img{
    width: 100%;
}

.gallery__thumbs a{
    display: block;
    opacity: 0.6;
}
.gallery__thumbs a:hover{
    opacity: 1;
}
.gallery__thumbs a img{
    width: 200px;
}
.gallery__preview{
    position: relative;
    width: 100%;
}
.hide{
    display: none;
    
}
.gallery__preview_close{
background: none;
border: none;
color: #ffffff;
font-weight: 500;
font-size: 30px;
position: absolute;
right: 20px;
top: 20px;
cursor: pointer;
}



